body {
  background-color: #F9F7F4;
  font-family: Roboto,  sans-serif;
}

button {
  border: none;
  background: none;
}

select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none; 
}

option {
  color: #000;
}

textarea {
  resize: none;
}

[data-selected] {
  color: #000;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: Roboto; 
  src: url(./fonts/Roboto-Regular.woff); 
  font-weight: 400;
  font-style: normal;
}
  
@font-face {
  font-family: Roboto; 
  src: url(./fonts/Roboto-Medium.woff); 
  font-weight: 500;
}
  
@font-face {
    font-family: Roboto; 
    src: url(./fonts/Roboto-Bold.woff); 
    font-weight: 700;
}

.container {
  width: 1168px;
  margin: 0 auto;
}

.welcome {
  position: relative;
  height: 831px;
  width: 100vw;
  padding-top: 29px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./assets/header-img.png);
  background-position: center;
  background-size: cover;
}

.logo {
  width: 182px;
  height: 30px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.phone {
  height: 28px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff;
  cursor: pointer;
}

.phone:hover {
    border-bottom: 1px solid #fff;
}

.nav-list {
  height: 28px;
  display: flex;
}

.nav-item {
 font-size: 20px;
 font-weight: 400;
 line-height: 28px;
 flex: none;
 color: #fff;
 cursor: pointer;
 margin-right: 50px;
}

.nav-item:last-child{
  margin-right: 0px;
}

.nav-item:hover {
  border-bottom: 1px solid #ffffff;
}

.welcome-content-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-top: 145px;
}

.welcome-title {
  width: 768px;
  height: 315px;
  font-weight: 700;
  font-size: 96px;
  line-height: 105px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
}

.welcome-description {
  height: 56px;
  width: 562px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #fff;
  margin-top: 50px;
}

.welcome-btn {
  width: 118px;
  height: 34px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 5px 20px;
  margin-top: 50px;
  background: #FFFFFF;
  border-radius: 10px;
}

.welcome-btn:hover {
  background: #EFA501;
  border-radius: 10px;
  color: #fff;
}
    
.welcome-btn:active {
  background: #F8E6BE;
  border-radius: 10px;
  color: #000;
}
     
.welcomeBtn-text {
  font-family: Roboto;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.01em;
  font-weight: 400;
  flex: none;
}

/* ///////////////////////////////////MAIIN/////////////////////////////// */

.wrap-main {
  height: 1334px;
  margin-top: 135px;
  padding: 0px;
}

.container-main { 
  width: 1170px;
  margin: 0 auto;    
}

.content-wrapper-main {
  height: 142px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}
    
.main-title {
  font-weight: 700;
  font-size: 59px;
  line-height: 73px;
  text-align: center;
  margin-bottom: 35px;
}

.main-wrap-description {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.main-item{
  height: 34px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;  
  cursor: pointer; 
  margin-right: 30px;
}

.main-item:last-child{
  margin-right: 0px;
}
    
.pop {
  color: #EFA501;
  border-bottom: 2px solid #EFA501;
  align-self: stretch;
}

.copyright:hover,
.hiking:hover,
.alloys:hover,
.velo:hover {
  border-bottom: 2px solid #000;
}

.cards-wrap {
  position: relative;
  width: 100%;
  height: 1092px;
  display: flex;
  justify-content: center;
  padding: 0px;
  margin-top: 100px;
  flex-wrap: wrap;
} 

.cards {
  position: relative;
  width: 370px;
  height: 531px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
  margin-right: 30px;
  margin-bottom: 30px;
}

.cards:nth-child(3),
.cards:nth-child(6) {
  margin-right: 0px;
}
.cards:nth-child(4),
.cards:nth-child(5),
.cards:nth-child(6) {
  margin-bottom: 0px;
}
  
.wrapper-cards {
  position: absolute;
  width: inherit;
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 50px;
  z-index: 1;
}

.cards-fon {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50px;
  object-fit: cover;
  transform: scale(1);
  transition: 300ms ease; 
}

.cards:hover .cards-fon {
  transform: scale(1.2);
}

.shadow-cards {
  position: absolute;
  width: 100%;
  height: 531px; 
  background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 50px;
}

.cards-text-wrap {
  width: 270px;
  height: 126px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px; 
}

.cards-title {
  width: 270px;
  height: 86px;
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  color: #fff;
  margin-bottom: 16px;
}
    
.cards-money {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #fff;
}
       
.cards-btn {
  width: 159px;
  height: 28px; 
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
}

.cards:hover .cards-btn {
  position: absolute;
  width: 199px;
  height: 42px;
  left: 30px;
  top: 446px;
  padding: 7px 20px;
  background: #286562;
  border-radius: 50px;
}
    
.cards:active .cards-btn {
    background: #EFA501;
    border-radius: 50px;
}

.payments {
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
  color: #fff;
  font-family: Roboto;
} 

.arrow-bt {
  width: 24px;
  height: 26px;
  padding: 6px 1px;
  margin-left: 15px;
}
   
.vector-card {
  width: 22px;
  height: 15px;
}

/* /////////////////////////////FORMA/////////////////////// */

.wrap-tour{
  margin-top: 135px;
  height: 1245px;
  padding: 0;
}

.container-tour {
  margin: 0 auto;
  width:1170px;  
}

.tour-wrap-content {
  height: 159px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
} 

.tour-title {
  font-weight: 700;
  font-size: 59px;
  line-height: 73px;
  text-align: center;
  margin-bottom: 30px;
}
    
.tour-description {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  text-align: center;
  color: #A6A6A6;
}

.forma-wrap {
  width: 100%;
  height: 986px;
  display: flex;
  align-items: flex-start;
  padding: 70px;
  margin: 100px auto 0;
  background: #FFFFFF;
  border-radius: 50px;
  flex-wrap: wrap;
}
 
.str {
  position: absolute;
  top: 65px;
  width: 14px;
  height: 14px;
  margin-left: 458px;
}

.forma {
  width: 500px;
  height: 68px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px;  
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  cursor: pointer;
}

.forma:hover {
  background: #F4F0E9;
  border: 1px solid #F4F0E9;
}

.forma:focus {
  background: #F4F0E9;
  border: 1px solid #A6A6A6
} 

select {
  width: 500px;
  height: 68px;
  padding: 20px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #A6A6A6;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
  cursor: pointer;
} 

select:hover{
  background: #F4F0E9;
  border: 1px solid #F4F0E9;
}

.forma-wrapper {
  position: relative;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  margin-right: 30px;
  margin-bottom: 33px;
} 

.forma-wrapper:nth-child(2),
.forma-wrapper:nth-child(4),
.forma-wrapper:nth-child(6) {
 margin-right: 0px;
} 

.forma-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 8px;
}
        
.content-forma {
  font-family: Roboto;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.forma::-webkit-input-placeholder{
    color: #A6A6A6;
}
    
.comment-wrap {
  width: 1030px;
  height: 188px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
 margin-bottom: 33px;  
}

.comment {
  width: 1030px;
  height: 152px;
  padding: 20px;
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
  border-radius: 10px;
}
    
.comment:hover {
  background: #F4F0E9;
}
    
.comment:focus {
  background: #F4F0E9;
  border: 1px solid #A6A6A6
}

.radio_wrapper {
  width: 1030px;
  height: 64px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-bottom: 33px;
} 

.forma-radio {
  width: 1030px;
  height: 64px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}
  
.radio-wrap {
  width: 166px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px;
}

.radio {
  max-width: 72px;
  height: 28px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin-right: 31px;
}

.radio-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  padding-left: 37px;
}

.radio_input {
  -webkit-appearance:none;
  -moz-appearance:none;
  -o-appearance:none;
  appearance:none;  
}

.btn__check {
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url(./assets/off-btn.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}
  
.radio_input:checked + .btn__check {
  background-image: url(./assets/on-btn.svg);
}

   
.check-wrap {
  height: 26px;
  display: flex;
  align-items: center;
  padding: 0px;
}
    
.form-check {
  max-width: 554px;
  display: flex;
  align-items: center;
  margin-bottom: 33px;
}
         
.check-text {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #A6A6A6;
  padding-left: 45px;
}      

.text-lic {
  font-weight: 400;
  font-size: 17px;
  line-height: 24.14px;
  letter-spacing: -0.01em;
  color: #000;  
  text-decoration: none;
}

.text-lic:hover {
  text-decoration-line: underline;
}
        
.text-lic:active {
  text-decoration-line: underline;
  color: #286562;
}
 
.check__input {
  -webkit-appearance:none;
  -moz-appearance:none;
  -o-appearance:none;
  appearance:none;   
}

.check-box {
  position: absolute;
  width: 26px;
  height: 26px;
  background-image: url(./assets/off.svg);
  background-repeat: no-repeat;
  cursor: pointer;
}

.check__input:checked + .check-box {
 background-image: url(./assets/on.svg);
}

.wrapper-btn-big {
  width: 500px;
  height: 58px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
}

.bg-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #fff; 
}

.bg-color {
 color: #286562;
}
 
.big-btn{
  width: 235px;
  height: 58px;
  background: #286562;
  border-radius: 10px;
  margin-right: 30px;
}

.big-btn:nth-child(2) {
  background: #E0F0E5;
  margin-right: 0px;
}

.big-btn:hover {
  background: #3B7E7B;
}

.big-btn:active {
  background: #627F7E;
}
 
.big-btn:nth-child(2):hover {
  background: #F1F3F2;
}

.big-btn:nth-child(2):active {
  background: #D9DFDB;
}

/* ////////////////////////////////////REVIEWS/////////////////////////////// */

.reviews {
  height: 1005px;
  margin-top: 135px;
  padding: 0px;
}

.container-reviews {
  width: 1170px;
  margin: 0 auto;
}

.wrapper-content-reviews {
  height: 232px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.reviews-title {
  font-weight: 700;
  font-size: 59px;
  line-height: 73px;
  text-align: center;
  margin-bottom: 30px;
}

.description-reviews {
  width: 418px;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #A6A6A6;    
}

.cards-reviews-wrap {
  height: 841px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-top: 100px;
}

.cards-reviews {
  width: 570px;
  height: 673px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  background: #F4F0E9;
  border-radius: 50px;
  margin-right: 30px;
}

.cards-reviews:last-child {
  margin-right: 0px;

}
     
.text-reviews {
  max-width: 490px;
  font-weight: 700;
  font-size: 23px;
  line-height: 28px;
}

.cards-footer-reviews {
  width: 490px;
  height: 145px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.cards-footer-reviews-text {
  width: 415px;
  height: 75px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
}

.footer-reviews-text-title {
  font-weight: 500;
  font-size: 35px;
  line-height:43px;
  margin-bottom: 8px;
}

.text-description-reviews {
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  letter-spacing: -0.01em;
  color: #A6A6A6;
}

.review-img {
  width: 75px;
  height: 75px;
  border-radius: 100px;
}

/* //////////////////////////////////////////TRAVEL//////////////////////////////////////// */

.travel {
  height: 1222px;
  margin-top: 135px;
  padding: 0px;  
}

.container-travel {
  width: 100vw;
  margin: 0 auto;
}

.travel-wrap-content {
  height: 159px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}   

.travel-title {
  font-weight: 700;
  font-size: 59px;
  line-height: 73px;
  text-align: center;
  margin-bottom: 30px;
}
    
.description {
  width: 418px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-align: center;
  color: #A6A6A6;
}

.wrap-travel {
  height: 963px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 100px;
}

.photo-wrapper { 
  width: 100vw;
  height: 301px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 30px;
}

.travel-photo {
  width: 23%;
  height: 300px;
  border-radius: 50px;
  object-fit: cover; 
  margin-right: 30px;
}

.travel-photo:first-child{
  margin-left: 30px;
}
    
.travel-photo-two{
  width: 18%;
  height: 301px;
  border-radius: 50px;
  object-fit: cover;
  margin-right: 30px;   
}

.travel-photo-two:first-child{
  margin-left: 30px;
}
    
.travel-photo-img{
  width: 18%;
  height: 301px;
  border-radius: 50px;
  object-fit: cover;
  margin-right: 30px;  
}

.photo-wrapper-two{
  width: 100vw;
  height: 301px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 30px;
}
    
.photo-wrapper-three{
  width: 100vw;
  height: 301px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

/* ////////////////////////////STORIES///////////////////////////// */

.stories {
  height: 2060px;
  margin-top: 135px;
  padding: 0px;
}

.container-stories {
  width: 1170px;
  margin: 0 auto;
}
 
.content-wrap-stories {
  height: 159px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
}

.stories-title {
  font-weight: 700;
  font-size: 59px;
  line-height: 73px;
  text-align: center;
  margin-bottom: 30px;
}
     
.wrap-cards-stories {
  height: 1801px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin-top: 100px;
}

.cards-stories {
  position: relative;
  width: 100%;
  height: 567px;
  margin-bottom: 50px;
  border-radius: 50px;
  overflow: hidden;
  cursor: pointer;
}

.cards-stories:last-child {
  margin-bottom: 0px;
}

.stories-fon {
  position: absolute;
  width: inherit;
  height: inherit;
  border-radius: 50px;
  object-fit: cover;
  transform: scale(1);
  transition: 300ms ease;
}

.cards-stories:hover .stories-fon {
  transform: scale(1.2);
}
  
.shadow {
  position: absolute;
  width: 1170px;
  height: 567px;
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
  border-radius: 50px;
  z-index: 1;
}

.stories-cards-content {
  position: absolute;
  height: 394px;
  padding: 60px 0px 0px 60px;
  z-index: 2;
}  

.cards-title-stories {
  height: 43px;
  font-weight: 500;
  font-size: 35px;
  line-height:43px;
  color: #FFFFFF;
  margin-bottom: 37px;
}

.cards-description-stories {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
}

.cards-description-stories-ul {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  list-style: inside;
  color: #fff;
}

.wrapper-text-card-story {
  width: 554px;
  height: 224px; 
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.footer-cards-stories {
  position: absolute;
  bottom: 0;
  width: 1170px;
  display: flex;
  align-items: center;
  padding: 0px 60px 60px;
  z-index: 2;   
}

.cards-social {
  width: 343px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: auto;
}
    
.social {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #FFFFFF;
  cursor: pointer;
  margin-right: 35px;
}

.social:last-child {
  margin-right: 0;
}

.social:hover{
  text-decoration-line: underline;
}
        
.social:active {
  text-decoration-line: underline;
  color: #EFA501;
}
            
.cards-social-two { 
  width: 224px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  margin-left: auto;
}
        
.cards-stories:hover .cards-btn {
  position: absolute;
  left: 40px;
  width: 199px;
  height: 42px;
  padding: 7px 20px;
  background: #286562;
  border-radius: 50px;
}
        
.cards-stories:active .cards-btn:active {
  background: #EFA501;
  border-radius: 50px;
}

/* /////////////////////////CHOISE/////////////////////// */

.content-last {
  margin-top: 135px;
}

.container-last {
  width: 771px;
  height: 370px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  margin: 0 auto;
}

.footer-photo {
  width: 370px;
  height: 370px;
  border-radius: 50px;
}

.content-wrap-footer {
  width: 371px;
  height: 162px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  margin-left: 30px;
}
   
.footer-title {
  font-weight: 500;
  font-size: 35px;
  line-height: 43px;
  margin-bottom: 20px;
}

.footer-description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  color: #A6A6A6;
}

.email-last {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  color: #000;
}
      
.email-last:hover {
  text-decoration-line: underline;
}

.email-last:active {
  color: #286562;
}

/* ///////////////////FOOTER/////////////////////////////////    */

.footer-end {
  width: 100vw;
  height: 88px;
  margin-top: 135px;
  background: #F4F0E9;
}

.container-footer {
  width: 1168px;
  margin: 0 auto;
  padding-top: 30px;
}

.footer{
  display: flex;
  align-items: center;
}

.social-footer-wrap {
  width: 419px;
  height: 28px;
  display: flex;
  margin-left: auto;
}

.description-footer {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: #A6A6A6;
}

.social-text {
  height: 28px;
  padding-left: 10px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  cursor: pointer;
}

.social-text:hover {
border-bottom: 1px solid #000;  
}

.wrap-social {
  display: flex;
  align-items: center;
  margin-right: 25px;
  flex: none;
}

.wrap-social:last-child {
  margin-right: 0px;
}

.instagram {
  width: 126px;
}  

.facebook {
  width: 120px;
}

.vkontakte {
  width: 123px;
}

.logo-footer {
  width: 26px;
  height: 26px;
}
.inst {
  padding: 7px 2px 5px 10px;
}
.face {
  padding: 5px 5px 4px 13px;
}
.vk {
  padding: 8px 2px 4px 4px;
}

.logo-inst {
  position: absolute;
  width: 14px;
  height: 14px;
}
    
.logo-fac {
  position: absolute;
  width: 8px;
  height: 17px;
}
    
.logo-vk {
  position: absolute;
  width: 20px;
  height: 12px;
}

@media (max-width: 1200px) {
.container {
  width: 910px;
}

.nav-item {
  margin-right: 30px;
}

.welcome-title {
  max-width: 914px;
}

.welcome-description {
  max-width: 442px;
}

.wrap-main {
  height: 1871px;
}

.container-main {
  width: 100vw;
}

.cards-wrap{
  height: 1629px;
}

.cards {
  width: 450px;
  height: 531px;
  margin-right: 18px;
  margin-bottom: 18px;
}

.cards:nth-child(3) {
margin-right: 18px;
}

.cards:nth-child(2),
.cards:nth-child(4),
.cards:nth-child(6) {
  margin-right:  0px;
}

.cards-fon {
  width: 450px;
  height: 531px;
}

.cards-text-wrap {
  width: 350px;
  height: 83px;
}

.cards-title {
  width: 350px;
  height: 43px;
}

.wrap-tour {
  height: 1225px;
}

.container-tour {
  width: 918px;
}

.forma-wrap {
  height: 966px;
  padding: 60px;
}

.forma-wrapper {
  max-width: 389px;
  height: 104px;
  margin-right: 20px;
  flex-grow: 1;
}

.str {
  margin-left: 347px; 
} 

select {
  width: 100%;
}
            
.forma {
  width: 100%;
}

.comment-wrap{
  width: 798px;
  height: 188px;
}

.comment {
  width: 100%;
}

.radio_wrapper {
  width: 100%;
}

.reviews {
  height: 1173px;
}

.container-reviews {
  width: 918px;
}

.cards-reviews {
  width: 450px;
  height: 841px;
  margin-right: 18px;
}

.cards-footer-reviews {
  width: 370px;
  height: 145px;
}

.container-travel {
  width: 100vw;
}

.photo-wrapper {
  width: 100vw;
  height: 301px;
}

.travel-photo {
  width: 315px;
  margin-right: 20px;
}

.travel-photo:first-child {
  margin-left: 20px;
}

.hidden {
  display: none;
}

.travel-photo-two {
  width: 231px;
  height: 301px;
  margin-right: 20px;    
}

.travel-photo-two:first-child{
  margin-left: 20px;
}

.travel-photo-img {
  width: 231px;
  height: 301px;
  margin-right: 20px;
}

.container-stories {
  width: 918px;  
}

.shadow {
  width: 918px;
}

.footer-cards-stories {
  width: 918px;
}

.container-footer {
  width: 918px;
}

}
   
@media (max-width: 1023px) {
.container {
  width: 100vw;
  padding: 0 2%;
}

.phone:hover {
  border-bottom: none;
}

.nav-item:hover {
  border-bottom: none;
}

.welcome-btn:hover {
  background: #fff;
  color: inherit;
}

.welcome-title {
  width: 100%;
}

.welcome-description {
  width: 442px;
}

.copyright:hover,
.hiking:hover,
.alloys:hover,
.velo:hover {
  border-bottom: none;
}

.cards-wrap {
  height: 1629px;
} 

.cards {
  width: 47%;
}

.cards:hover .cards-fon {
  transform: scale(1);
}

.cards-fon {
  width: 100%;  
}

.cards:hover .cards-btn {
  position: relative;
  top: 0px;
  left: 0px;
  height: 28px;
  padding: 0px;
  background: none;
}

.cards:hover .cards-btn {
  position: relative;
  left: 0px;
  top: 0px;
  height: 28px;
  padding: 0px;
  background: none;
}

.container-tour {
  width: 100vw;
  padding: 0 5%;
}

.str {
  margin-left: 87%; 
}

select:hover {
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
}


.forma:hover {
background: #F9F7F4;
border: 1px solid #F4F0E9;
}

.forma:focus {
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
}

.comment-wrap {
  width: 100%;
}

.comment:hover {
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
}

.comment:focus {
  background: #F9F7F4;
  border: 1px solid #F4F0E9;
}

.forma-radio {
  width: 100%;
}

.text-lic:hover {
  text-decoration-line: none;
}

.text-lic:active{
  color: #000;
}

.big-btn:hover {
  background: #286562;
}

.big-btn:nth-child(2):hover {
  background: #E0F0E5;
}

.container-reviews {
  width: 100vw;
}

.cards-reviews-wrap {
  height: 841px;
  padding: 0 5%;
}

.cards-reviews {
  width: 100%;
  height: 841px;
}

.cards-footer-reviews {
  width: 100%;
  height: 145px;
}

.cards-footer-reviews-text {
  width: 100%;
  height: 75px;
}

.container-travel { 
  width: 100vw;
}

.photo-wrapper {
  width: 100vw;
  height: 301px;

}

.travel-photo {
  width: 31%;
}

.travel-photo-two {
  width: 23%;
  height: 301px;
 
}

.travel-photo-img {
  width: 23%;
  height: 301px;   
}
.photo-wrapper-two {
  height: 301px;
  justify-content: center;
  
}

.container-stories {
  width: 100vw; 
}

.wrap-cards-stories {
  padding: 0% 5%;
}
.cards-stories {
  width: 100%;
  height: 567px;
}

.cards-stories:hover .stories-fon {
  transform: scale(1);
}

.shadow {
  width: 100%;
}
.footer-cards-stories {
  width: 100%;
}
.social:hover {
  text-decoration-line: none;
}
        
.social:active {
  text-decoration-line: none;
  color: #fff;
}
.cards-stories:hover .cards-btn {
  position: static;
  left: 0px;
  height: 28px;
  padding: 0px;
  background: none;
}

.cards-stories:active .cards-btn:active {
  background: none;            
}

.email-last:hover {
  text-decoration-line: none;
}

.email-last:active {
  color: #000;
}

.container-footer {
  width: 100vw;
}

.footer {
  margin: 0 5%;
}

.social-text:hover {
  border-bottom: none;
}

}

@media (max-width: 940px) {

.pavel {
  padding: 0 5%;
}

.cards-footer-reviews {
  padding: 7% 0 0;
}
}
