body{
   background-color: #F9F7F4;
   font-family: Robot, Arial, sans-serif;
  
}

button {
    border: none;
    background: none;
  }


  select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
     appearance:none; 
  }
  .str{
    position: absolute;
    margin-top: 65px;
    margin-left: 458px;
   }
   @media(max-width: 1600px){
    .str{
    margin-top: 65px;
    margin-left: 346px; 
    }
   }
   @media(max-width: 480px){
    .str{
    margin-top: 50px;
    margin-left: 250px; 
    width: 13px;
    }
   }
   @media(max-width: 768px){
    .str{
    margin-top: 50px;
    margin-left: 246px; 
    
    }
   }

  .payments{
    font-weight: 700;
    font-size: 23px;
    line-height: 28.06px;
    color: #fff;
  } 
  
  @media(max-width: 480px){
    .payments{
        font-size: 16px;
        line-height: 22.72px;
    }
  }
  @media(max-width: 768px){
    .payments{
        font-size: 16px;
        line-height: 22.72px;
    }
  }

  .vector-card{
    width: 22px;
    height: 15px;
    
  }
.email-last{
font-weight: 400;
font-size: 20px;
line-height: 28.4px;
text-decoration: none;
color: #000;
}

.email-last:hover{
    text-decoration-line: underline;
}
.email-last:active{
    color: #286562;
}


*{
box-sizing: border-box;
}

  @font-face {
    font-family: Robot; 
    src: url(./fonts/Roboto-Regular.woff); 
    font-weight: 400;
    font-style: normal;
  }
  
  @font-face {
    font-family: Robot; 
    src: url(./fonts/Roboto-Medium.woff); 
    font-weight: 500;
   
  }
  
  @font-face {
    font-family: Robot; 
    src: url(./fonts/Roboto-Bold.woff); 
    font-weight: 700;
  }


.container{
width: 1168px;
margin: 0 auto;
}

.welcome{
background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/header__.jpg);
background-position: center;
background-size: cover;
height: 831px;
position: relative;
padding-top: 29px;
}

@media (max-width: 1600px){
    .container{
        width: 910px;
        }
}


  

@media (max-width: 768px){
    .container{
    width: 400px;
    }

    .logo{
        width: 133px;

    }

    }

@media(max-width: 480px){
    .container{
        width: 500px;
    }
    .logo{
        width: 133px;

    }
  
}



@media(max-width: 480px){
    .welcome{
        height: 488px;
    }
    
    .container{
        width: 320px;
    }
    .logo{
        width: 133px;

    }
}



.header{
 display: flex;
 
}


.phone{
margin-left: auto;
align-self: center;
color: #fff;
font-weight: 400;
font-size: 20px;
line-height: 28.4px;
flex: none;
}
@media (max-width: 480px){
    .phone{
        font-size: 16px;
        line-height: 22.72px;
        color: #fff;
    }
}

.nav-list{
display: flex;
gap: 50px;
margin-left: 182px;
align-items: center;
}
@media(max-width: 1600px){
    .nav-list{
    margin-left: 82px;
    gap: 30px;
}
}
@media(max-width: 480px){
    .nav-list{
    display: none;
}
}

@media(max-width: 768px){
    .nav-list{
    display: none;
}
}




.nav-item{
font-size: 20px;
font-weight: 400;
line-height: 28.4px;
flex: none;
color: #fff;
}

.nav-item:hover{
    border-bottom: 1px solid #ffffff;
}



.welcome-content-wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 50px;
    height: 743px; 
}
/* @media (max-width: 1600px){
    .welcome-content-wrap{
   
    }
} */
@media (max-width: 768px){
    .welcome-content-wrap{
    gap: 40px;
    
    }
}
@media (max-width: 768px){
    .welcome-content-wrap{
    gap: 40px;
   height: 400px;
    }
}

@media (max-width: 480px){
    .welcome-content-wrap{
    gap: 40px;
   height: 400px;
    }
}


.welcome-title{
    font-weight: 700;
    font-size: 96px;
    line-height: 104.64px;
    text-align: center;
    color: #fff;
    width: 900px;
    height: 315px;
}

.welcome-description{
    height: 56px;
    width: 562px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28.4px;
    text-align: center;
    color: #fff;
}

.welcome-btn{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5px 20px;
gap: 10px;
width: 118px;
height: 34px;
background: #FFFFFF;
border-radius: 10px;

}
.welcomeBtn-text{
font-size: 17px;
line-height: 24.14px;
letter-spacing: -0.01em;
font-weight: 400;
flex: none;
}

@media (max-width: 1600px){
    .welcome-title{
    width: 914px;
    }
    .welcome-description{
        width: 442px;
    }
}

@media (max-width: 768px){
    .welcome-title{
    font-size: 34px;
    letter-spacing: 0.02em;
    line-height: 38.08px;
    width: 360px;
    height: 114px;
    }
    .welcome-description{
        font-size: 16px;
        line-height: 22.72px;
        width: 310px;
        height: 69px;
    }
}


@media (max-width: 480px){
    .welcome-title{
    font-size: 34px;
    letter-spacing: 0.02em;
    line-height: 38.08px;
    width: 360px;
    height: 114px;
    }
    .welcome-description{
        font-size: 16px;
        line-height: 22.72px;
        width: 310px;
        height: 69px;
    }
}


@media (max-width: 768px){
.welcome-btn{
    width: 114px;
    height: 33px;
}
.welcomeBtn-text{
    font-size: 16px;
    line-height: 22.72px;
}
}


.welcome-btn:hover{
    background: #EFA501;
    border-radius: 10px;
    }
    
.welcome-btn:active{
    background: #F8E6BE;
    border-radius: 10px;
    }
  
    @media (max-width: 480px) and (pointer: fine){
    .welcome-btn:hover,
    .welcome-btn:active{
     display: none;
      }
     }
/* MAIN */

.wrap-main{
margin-top: 135px;
height: 1334px;
padding: 0px;
}
@media(max-width: 1600px){
   .wrap-main{
    height: 1871px;
   }
}

@media(max-width: 768px){
    .wrap-main{
        margin-top: 75px;
        height: 2172px;
    }
 }

@media(max-width: 480px){
    .wrap-main{
        margin-top: 75px;
        height: 2172px;
    }
 }



.container-main{
    margin: 0 auto;
    width:1170px;
}
@media(max-width: 1600px){
    .container-main{
     width: 910px;
     
    }
 }

 @media(max-width: 768px){
    .container-main{
        width: 320px;
        padding: 0px;
    }
 }


 @media(max-width: 480px){
    .container-main{
        width: 320px;
        padding: 0px;
    }
 }



.content-wrapper-main{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 35px;
height: 142px;
}
@media(max-width: 768px){
    .content-wrapper-main{
   height: 124px;
   gap: 30px;
    }
 }

 @media(max-width: 480px){
    .content-wrapper-main{
   height: 124px;
   gap: 30px;
    }
 }

.main-title{
 font-weight: 700;
 font-size: 59px;
 line-height: 73.16px;
 text-align: center;
}

@media(max-width: 768px){
    .main-title{
     font-size: 34px;
     line-height: 38.08px;
     letter-spacing: 0.02em;
    }
 }

@media(max-width: 480px){
    .main-title{
     font-size: 34px;
     line-height: 38.08px;
     letter-spacing: 0.02em;
    }
 }



.main-wrap-description{
display: flex;
flex-direction: row;
align-items: flex-start;
gap: 30px;
}

@media(max-width: 768px){
    .main-wrap-description{
    flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
    }
 }



@media(max-width: 480px){
    .main-wrap-description{
    flex-wrap: wrap;
   justify-content: center;
   gap: 10px;
    }
 }



.main-item{
font-weight: 700;
font-size: 23px;
line-height: 28.06px;
}

@media(max-width: 768px){
    .main-item{
    font-size: 16px;
    line-height: 22.72px;
    }
 }



@media(max-width: 480px){
    .main-item{
    font-size: 16px;
    line-height: 22.72px;
    }
 }



.pop{
    color: #EFA501;
    border-bottom: 2px solid #EFA501;
    align-self: stretch;
}
.avtor:hover,
.hiking:hover,
.alloys:hover,
.velo:hover{
    border-bottom: 2px solid #000;
}

@media (max-width: 480px) and (pointer: fine){
.avtor:hover,
.hiking:hover,
.alloys:hover,
.velo:hover{
    display: none;
}
}

.cards-list-wrap{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 30px;
width: 1170px;
height: 1092px;
margin-top: 100px;
}
@media(max-width: 1600px){
    .cards-list-wrap{
        width: 918px;
        height: 1629px;
    }
 }

 @media(max-width: 768px){
    .cards-list-wrap{
        width: 318px;
        height: 1998px;
       margin-top: 50px;
    }
 }

 


 @media(max-width: 480px){
    .cards-list-wrap{
        width: 318px;
        height: 1998px;
       margin-top: 50px;
    }
 }




.cards-wrap{
display: flex;
padding: 0px;
gap: 30px;
height: 1092px;
flex-wrap: wrap;
}
@media (max-width: 1600px) {
    .cards-wrap{
        height: 1629px;
        gap: 18px;
    }
    
}

@media (max-width: 768px) {
    .cards-wrap{
        height: 1998px;
        gap: 18px;
    }
    
}

@media (max-width: 480px) {
    .cards-wrap{
        height: 1998px;
        gap: 18px;
    }
    
}


.cards{
    width: 370px;
    height: 531px;
    border-radius: 50px;
    position: relative;
}

@media(max-width: 1600px){
    .cards{
        width: 450px;
        height: 531px;
    }
 }

 @media(max-width: 768px){
    .cards{
        width: 318px;
        height: 318px;
        border-radius: 20px;
    }
 }



 @media(max-width: 480px){
    .cards{
        width: 318px;
        height: 318px;
        border-radius: 20px;
    }
 }




.wrapper-cards{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 50px;
position: absolute;
z-index: 1;
width: inherit;
height: inherit;
}

@media(max-width: 768px){
    .wrapper-cards{
       padding: 25px;
    }
 }


@media(max-width: 480px){
    .wrapper-cards{
       padding: 25px;
    }
 }




.cards-fon{
    width: 370px;
    height: 531px;
    border-radius: 50px;
    position: absolute;
    object-fit: cover;
    transform: scale(1);
    transition: 300ms ease;   
}
.cards:hover .cards-fon{
    transform: scale(1.2);
}
@media(max-width: 1600px){
    .cards-fon{
        width: 450px;
        height: 531px;
    }
 }

 @media(max-width: 768px){
    .cards-fon{
        width: 318px;
        height: 318px;
        border-radius: 20px;
    }
 }



 @media(max-width: 480px){
    .cards-fon{
        width: 318px;
        height: 318px;
        border-radius: 20px;
    }
 }


.rgb{
    background: linear-gradient(360deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0.06) 48.44%, rgba(0, 0, 0, 0.5) 100%);
    width: 370px;
    height: 531px;
    border-radius: 50px;
    position: absolute;
    transform: scale(1);
    transition: 300ms ease; 
}
.cards:hover .rgb{
    transform: scale(1.2);
}
@media(max-width: 1600px){
    .rgb{
        width: 450px;
        height: 531px;
    }
 }

 @media(max-width: 768px){
    .rgb{
        width: 318px;
        height: 318px;
        border-radius: 20px;
    }
 }



 @media(max-width: 480px){
    .rgb{
        width: 318px;
        height: 318px;
        border-radius: 20px;
    }
 }


.cards-text-wrap{
display: flex;
flex-direction: column;
justify-content: flex-end;
align-items: flex-start;
padding: 0px;
gap: 16px;
width: 270px;
height: 126px;
}

@media(max-width: 768px){
    .cards-text-wrap{
        gap: 13px;
        width: 268px;
        height: 64px;
    }
}



@media(max-width: 480px){
    .cards-text-wrap{
        gap: 13px;
        width: 268px;
        height: 64px;
    }
}


.cards-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42.7px;
    width: 270px;
    height: 86px;
    color: #fff;
}

.cards-money{
    font-weight: 400;
    font-size: 17px;
    line-height: 24.14px;
    letter-spacing: -0.01em;
    color: #fff;
}

@media(max-width: 768px){
    .cards-title{
        font-weight: 700;
        font-size: 23px;
        line-height: 27.6px;
        letter-spacing: 0.04em;
        width: 268px;
        height: 28px;
    }

    .cards-money{
    font-size: 16px;
    line-height: 22.72px;
    letter-spacing: -0.01em;
    }
}


@media(max-width: 480px){
    .cards-title{
        font-weight: 700;
        font-size: 23px;
        line-height: 27.6px;
        letter-spacing: 0.04em;
        width: 268px;
        height: 28px;
    }

    .cards-money{
    font-size: 16px;
    line-height: 22.72px;
    letter-spacing: -0.01em;
    }
}





.cards-btn{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 15px;
width: 159px;
height: 28px; 
}
.cards:hover .cards-btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 20px;
    gap: 15px;
    position: absolute;
    width: 199px;
    height: 42px;
    left: 30px;
    top: 446px;
    background: #286562;
    border-radius: 50px;
}

@media(max-width: 480px) and (pointer: fine){
 .cards:hover .cards-fon,
  .cards:hover .rgb{
    display: none;
 }

}
    /* /=============TOUR =================/ */
 .wrap-tour{
  margin-top: 135px;
  height: 1245px;
  padding: 0;
 }
     
 @media(max-width: 1600px){
    .wrap-tour{
     height: 1225px;
    }
 }

 @media(max-width: 768px){
    .wrap-tour{
        margin-top: 75px;
        height: 1225px;
    }
 }
  
 @media(max-width: 480px){
    .wrap-tour{
        margin-top: 75px;
        height: 1254px;
    }
 }

 .container-tour{
    margin: 0 auto;
    width:1170px;  
 }

 @media(max-width: 1600px){
    .container-tour{
     width: 910px;
    
    }
 }

 @media(max-width: 768px){
    .container-tour{
    width: 320px;
    padding: 0px;
    }
    }

 @media(max-width: 480px){
    .container-tour{
        width: 320px;
        padding: 0px;
    }
 }


.tour-wrap-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 30px;
height: 159px;
}

@media(max-width: 768px){
    .tour-wrap-content{
        height: 104px;
        gap: 20px;
    }
}
@media(max-width: 480px){
    .tour-wrap-content{
        height: 104px;
        gap: 20px;
    }
}


.tour-title{
font-weight: 700;
font-size: 59px;
line-height: 73.16px;
text-align: center;
}

@media(max-width: 768px){
    .tour-title{
     font-size: 34px;
     line-height: 38.08px;
     letter-spacing: 0.02em;
    }
 }

@media(max-width: 480px){
    .tour-title{
    font-size: 34px;
    line-height: 38.08px;
    letter-spacing: 0.02em;
    }
}



.tour-description{
 font-size: 20px;
 font-weight: 400;
 line-height: 28.4px;
 text-align: center;
 color: #A6A6A6;
}
@media(max-width: 768px){
    .tour-description{
     font-size: 16px;
     line-height: 22.72px;
    }
 }

@media(max-width: 480px){
    .tour-description{
    font-size: 16px;
    line-height: 22.72px;
    width: 318px;
    }
}

.hiden{
    display: none;
}


.forma-wrap{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 70px;
gap: 33px;
height: 986px;
background: #FFFFFF;
border-radius: 50px;
margin-top: 100px;
}
@media (max-width: 1600px){
.forma-wrap{
padding: 60px;
height: 966px;
}
}

@media (max-width: 768px){
    .forma-wrap{
        padding: 20px 20px 40px;
        gap: 30px;
        height: 1110px;
        margin-top: 40px;
        border-radius: 30px;
        
        }    
    }
    

@media (max-width: 480px){
.forma-wrap{
    padding: 20px 20px 40px;
    gap: 30px;
    height: 1110px;
    margin-top: 40px;
    border-radius: 30px;
    flex-direction: column;
    }
}


.forma-wrapper{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 500px;
height: 104px;
}

@media(max-width: 1600px){
.forma-wrapper{
width: 389px;
height: 104px;
 }
}

@media(max-width: 768px){
    .forma-wrapper{
    width: 278px;
    height: 74px;  
     }
    }


@media(max-width: 480px){
.forma-wrapper{
width: 278px;
height: 74px;
 }
}


    
    

.forma{
display: flex;
flex-direction: row;
align-items: center;
padding: 20px;
gap: 10px;
width: 500px;
height: 68px;
background: #F9F7F4;
border: 1px solid #F4F0E9;
border-radius: 10px;
}
@media(max-width: 1600px){
.forma{
    width: 389px;
}
}

@media(max-width: 768px){
    .forma{
        padding: 10px;
        width: 278px;
        height: 43px;
    }
}


@media(max-width: 480px){
    .forma{
        padding: 10px;
        width: 278px;
        height: 43px;
    }
}



.forma:hover{
background: #F4F0E9;

}
.forma:focus{
    background: #F4F0E9;
    border: 1px solid #A6A6A6
    }
    

@media(max-width: 768px) and (pointer: fine){
    .forma:hover,
    .forma:focus{
    display: none;
    }
}

@media(max-width: 480px) and (pointer: fine){
    .forma:hover,
    .forma:focus{
        display: none;
    }
}



.forma-text{
font-weight: 400;
font-size: 20px;
line-height: 28.4px;
}

.content-forma{
font-weight: 400;
font-size: 20px;
line-height: 28.4px;
}

@media(max-width: 480px){
    .forma-text{
     font-size: 16px;
     line-height: 22.72px;
    }
    .content-forma{
    font-size: 16px;
    line-height: 22.72px;
    }
}

.forma::-webkit-input-placeholder{
    color: #A6A6A6;
}

  .select-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 28.4px;
    color: #A6A6A6;
    }

@media(max-width: 768px){
.select-text{
    font-size: 16px;
    line-height: 22.72px;
 }
.forma-text{
    font-size: 16px;
    line-height: 22.72px;
 }
.content-forma{
    font-size: 16px;
    line-height: 22.72px;
 }
}

    
@media(max-width: 480px){
.select-text{
    font-size: 16px;
    line-height: 22.72px;
    }
}

    
.forma-wrapper-container{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 30px;
height: 104px;
}
@media (max-width: 1600px) {
    .forma-wrapper-container{
    gap: 20px;
    }
   }
   @media (max-width: 768px) {
    .forma-wrapper-container{
        display: contents;
        }
    }   

@media (max-width: 480px) {
 .forma-wrapper-container{
    display: contents;
 }
}


.comment-wrap{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;  
width: 1030px;
height: 188px;
}

@media (max-width: 1600px) {
.comment-wrap{
    width: 798px;
    height: 188px;
}
}

@media (max-width: 768px) {
    .comment-wrap{
        width: 278px;
        height: 163px;
     }
    }

@media (max-width: 480px) {
.comment-wrap{
    width: 278px;
    height: 163px;
 }
}
        

.comment{
display: flex;
flex-direction: row;
align-items: center;
padding: 20px;
gap: 10px;
width: 1030px;
height: 152px;
background: #F9F7F4;
border: 1px solid #F4F0E9;
border-radius: 10px;
}

.comment:hover{
background: #F4F0E9;
}

.comment:focus{
    background: #F4F0E9;
    border: 1px solid #A6A6A6
}

@media (max-width: 1600px) {
.comment{
    width: 798px;
 }
}

@media (max-width: 768px) {
    .comment{
        padding: 10px;
        width: 278px;
        height: 132px;
    }
} 
            
@media (max-width: 480px) {
.comment{
    padding: 10px;
    width: 278px;
    height: 132px;
 }
}     
@media(max-width: 768px) and (pointer: fine){
    .comment:hover,
    .comment:focus{
    display: none;
    }
}

@media(max-width: 480px) and (pointer: fine){
    .comment:hover,
    .comment:focus{
        display: none;
    }
}

.radio_wrapper{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 30px;
width: 1030px;
height: 64px;
} 

@media (max-width: 1600px){
    .radio_wrapper{
    width: 798px;
    }
}

@media (max-width: 768px){
    .radio_wrapper{
    width: 278px;
    height: 54px; 
    }
}


@media (max-width: 480px){
    .radio_wrapper{
    width: 278px;
    height: 54px;
    }
}

.forma-radio{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 1030px;
height: 64px;
}

@media (max-width: 1600px){
    .forma-radio{
      width: 798px;
    }
}

@media (max-width: 768px){
    .forma-radio{
    width: 278px;
    height: 54px; 
    }
}

@media (max-width: 480px){
    .forma-radio{
      width: 278px;
      height: 54px;  
    }
}



.radio-wrap{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 31px;
width: 166px;
height: 28px;    
}

@media (max-width: 768px){
    .radio-wrap{
        gap: 30px; 
        width: 139px;
        height: 23px;
        }
    }
    

@media (max-width: 480px){
.radio-wrap{
    gap: 30px; 
    width: 139px;
    height: 23px;
    }
}


.radio{
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 11px;
width: 75px;
height: 28px;
}

@media (max-width: 768px){
    .radio{
    gap: 10px;
    height: 23px;
    width: 60px;
    }
}



@media (max-width: 480px){
    .radio{
    gap: 10px;
    height: 23px;
    width: 60px;
    }
}

.radio-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 28.4px;
    padding-left: 30px;
}

@media (max-width: 768px){
    .radio-text{
    font-size: 16px;
    line-height: 22.72px;
    padding-left: 30px;
    }
}

@media (max-width: 480px){
    .radio-text{
    font-size: 16px;
    line-height: 22.72px;
    padding-left: 30px;
    }
}



.radio_input{
-webkit-appearance:none;
-moz-appearance:none;
-o-appearance:none;
appearance:none;  
}

.btn__check{
position: absolute;
width: 26px;
height: 26px;
background-image: url(./files/off-btn.svg);
background-repeat: no-repeat;
}
.radio_input:checked + .btn__check{
  background-image: url(./files/on-btn.svg);
}

@media(max-width: 768px){

    .radio_input{
        visibility: hidden;
        display: none;
    }

.btn__check{
    width: 20px;
    height: 20px;
    background-image: url(./files/off-mobile-rad.svg);
 }

.radio_input:checked + .btn__check{
    background-image: url(./files/on-mobile-rad.svg);
 }
}


@media(max-width: 480px){
    .radio_input{
        visibility: hidden;
        display: none;
    }
.btn__check{
    width: 20px;
    height: 20px;
    background-image: url(./files/off-mobile-rad.svg);
 }

.radio_input:checked + .btn__check{
    background-image: url(./files/on-mobile-rad.svg);
 }
}

.check-wrap{
display: flex;
align-items: center;
padding: 0px;
gap: 19px;
height: 26px;
}
@media(max-width: 1600px){
    .check-wrap{
     gap: 19px;
    }
}

@media(max-width: 768px){
    .check-wrap{
     gap: 10px;
     align-items: flex-start;
     height: 69px;
    }
}

@media(max-width: 480px){
    .check-wrap{
        gap: 10px;
        align-items: flex-start;
        height: 69px;
    }
}

.form-check{
    display: flex;
    align-items: center;
    gap: 19px;
}

@media(max-width: 1600px){
    .form-check{
     gap: 30px;
    }
}

@media(max-width: 768px){
    .form-check{
     gap: 10px;
     align-items: flex-start;
     height: 69px;
    }
}

@media(max-width: 480px){
    .form-check{
     gap: 10px;
     align-items: flex-start;
     height: 69px;
    }
}



.check-text{
    font-weight: 400;
    font-size: 17px;
    line-height: 24.14px;
    letter-spacing: -0.01em;
    color: #A6A6A6;
    padding-left: 19px;
}
@media (max-width: 1600px){
    .check-text{
       padding-left: 11px;
    }
}

@media (max-width: 768px){
    .check-text{
        font-size: 16px;
        line-height: 22.72px;
        height: 69px;
        width: 248px;
        padding-left: 20px;
    }
}

@media (max-width: 480px){
    .check-text{
        font-size: 16px;
        line-height: 22.72px;
        height: 69px;
        width: 248px;
        padding-left: 15px;
    }
}

.text-lic{
    font-weight: 400;
    font-size: 17px;
    line-height: 24.14px;
    letter-spacing: -0.01em;
    color: #000;  
    text-decoration: none;
}

.text-lic:hover{
    text-decoration-line: underline;
    }
    
    .text-lic:active{
    text-decoration-line: underline;
    color: #286562;
    }

@media (max-width: 768px){
    .text-lic{
        font-size: 16px;
        line-height: 22.72px;
        
    }
}

@media (max-width: 480px){
    .text-lic{
        font-size: 16px;
        line-height: 22.72px;
       
    }
}


@media (max-width: 768px) and (pointer: fine){
    .text-lic:hover,
    .text-lic:active{
        display: none;
    }
}

@media (max-width: 480px) and (pointer: fine){
    .text-lic:hover,
    .text-lic:active{
        display: none;
    }
}

.check__input{
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none;   
}

.check-box{
position: absolute;
width: 26px;
height: 26px;
background-image: url(./files/off.svg);
background-repeat: no-repeat;

}

.check__input:checked + .check-box{
background-image: url(./files/on.svg);
}

@media(max-width: 768px){

.check__input{
    visibility: hidden;
    display: none;
}

    .check-box{
     width: 20px;
     height: 20px;
    
    background-image: url(./files/off-mobile.svg);
    }

    .check__input:checked + .check-box{
        background-image: url(./files/on-mobile.svg);
        }
        
    
}

@media(max-width: 480px){

    .check__input{
        visibility: hidden;
        display: none;
    }

.check-box{
width: 20px;
height: 20px;

background-image: url(./files/off-mobile.svg);
 }
.check__input:checked + .check-box{
    background-image: url(./files/on-mobile.svg);
 }
        
}

.wrapper-btn-big{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 30px;
width: 500px;
height: 58px;
}


@media(max-width: 768px){
.wrapper-btn-big{
justify-content: space-between;
width: 278px;
height: 47px;
gap: 10px;
    }
}

@media(max-width: 480px){
    .wrapper-btn-big{
    justify-content: space-between;
    width: 278px;
    height: 47px; 
    gap: 10px;  
    }
}
.bg-text{
    color: #fff; 
 }
 .big-text{
    color: #286562;
 }


.big-btn{
width: 235px;
height: 58px;
background: #286562;
border-radius: 10px;
}
.big-btn:hover{
    background: #3B7E7B;
}
.big-btn:active{
    background: #627F7E;
}

.big-button{
width: 235px;
height: 58px;
background: #E0F0E5;
border-radius: 10px;
}

.big-button:hover{
    background: #F1F3F2;
}
.big-button:active{
    background: #D9DFDB;
}
@media(max-width: 768px) and (pointer: fine){
    .big-btn:hover,
    .big-btn:active,
    .big-btn:hover,
    .big-btn:active{
        display: none;
    }
}


@media(max-width: 480px) and (pointer: fine){
    .big-btn:hover,
    .big-btn:active,
    .big-btn:hover,
    .big-btn:active{
        display: none;
    }
}


@media(max-width: 768px){
    .big-btn{
     width: 134px;
     height: 47px;    
    }
    .big-button{
       width: 134px;
       height: 47px;
    }
}

@media(max-width: 480px){
    .big-btn{
     width: 134px;
     height: 47px;    
    }
    .big-button{
       width: 134px;
       height: 47px;
    }
}


/* REVIEWS */

.reviews{
  margin-top: 135px;
  height: 1005px;
  padding: 0px;
}

@media(max-width: 1600px){
    .reviews{
        height: 1173px;
    }
}

@media(max-width: 768px){
    .reviews{
        height: 1210px;
       margin-top: 75px;
    }
}

@media(max-width: 480px){
    .reviews{
        height: 1210px;
        margin-top: 75px;
    }
}

.container-reviews{
    margin: 0 auto;
    width:1170px;
}

@media(max-width: 1600px){
    .container-reviews{
        width: 910px;
       
    }
}

@media(max-width: 768px){
    .container-reviews{
        width: 320px;
        padding: 0px;
    }
}

@media(max-width: 480px){
    .container-reviews{
        width: 320px;
        padding: 0px;
    }
}

.wrapper-content-reviews{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 30px;
height: 232px;
}

@media(max-width: 768px){
    .wrapper-content-reviews{
        height: 142px;
        gap: 20px;
    }
}

@media(max-width: 480px){
    .wrapper-content-reviews{
        height: 142px;
        gap: 20px;
    }
}


.reviews-title{
   font-weight: 700;
    font-size: 59px;
    line-height: 73.16px;
    text-align: center;
}

@media(max-width: 768px){
    .reviews-title{
        font-size: 34px;
        line-height: 38.08px;
        letter-spacing: 0.02em;
    }
}
@media(max-width: 480px){
    .reviews-title{
        font-size: 34px;
        line-height: 38.08px;
        letter-spacing: 0.02em;
    }
}

.description-reviews{
 font-size: 20px;
 line-height: 28.4px;
 text-align: center;
 color: #A6A6A6; 
 width: 418px;   
}
@media(max-width: 768px){
    .description-reviews{
      font-size: 16px;
      line-height: 22.72px;
      width: 318px;
    }
}

@media(max-width: 480px){
    .description-reviews{
      font-size: 16px;
      line-height: 22.72px;
      width: 318px;
    }
}







.cards-reviews-wrap{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 30px;
height: 673px;
margin-top: 100px;
}

@media(max-width: 1600px){
    .cards-reviews-wrap{
        gap: 18px;
        height: 814px;
    }
}

@media(max-width: 768px){
    .cards-reviews-wrap{
        flex-direction: column;
        height: 1018px;
        padding: 0px;
        gap: 18px;
        margin-top: 50px;
    }
}

@media(max-width: 480px){
    .cards-reviews-wrap{
        flex-direction: column;
        height: 1018px;
        padding: 0px;
        gap: 18px;
        margin-top: 50px;
    }
}


.cards-reviews{
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: flex-start;
padding: 40px;
width: 570px;
height: 673px;
background: #F4F0E9;
border-radius: 50px;
}
@media(max-width: 1600px){
    .cards-reviews{
        width: 450px;
        height: 841px;
    }
}

@media(max-width: 768px){
    .cards-reviews{
        padding: 20px;
        width: 318px;
        height: 408px;
        border-radius: 20px;
    }
    .pavel{
        height: 592px;
    }
}

@media(max-width: 480px){
    .cards-reviews{
        padding: 20px;
        width: 318px;
        height: 408px;
        border-radius: 20px;
    }
    .pavel{
        height: 592px;
    }
}



.text-reviews{
    font-weight: 700;
    font-size: 23px;
    line-height: 28.06px;
}
@media(max-width: 768px){
    .text-reviews{
       font-size: 16px;
       font-weight: 700;
       line-height: 22.72px;
    }
}

@media(max-width: 480px){
    .text-reviews{
       font-size: 16px;
       font-weight: 700;
       line-height: 22.72px;
    }
}




.cards-footer-reviews{
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 70px 0px 0px;
height: 145px;
width: 490px;
}

@media(max-width: 1600px){
    .cards-footer-reviews{
        width: 370px;
        height: 145px;
    }
}

@media(max-width: 768px){
    .cards-footer-reviews{
        width: 278px;
        height: 115px;
        padding: 40px 0px 0px;
    }
}


@media(max-width: 480px){
    .cards-footer-reviews{
        width: 278px;
        height: 115px;
        padding: 40px 0px 0px;
    }
}



.cards-footer-reviews-text{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;
width: 415px;
height: 75px;
}


@media(max-width: 1600px){
    .cards-footer-reviews-text{
        width: 295px;
        height: 75px;
    }
}

@media(max-width: 768px){
    .cards-footer-reviews-text{
        width: 203px;
        height: 59px;
    }
}


@media(max-width: 480px){
    .cards-footer-reviews-text{
        width: 203px;
        height: 59px;
    }
}



.footer-reviews-text-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42.7px;
}

@media(max-width: 768px){
    .footer-reviews-text-title{
        font-size: 23px;
        line-height: 27.6px;
        letter-spacing: 0.04em;
    }
}

@media(max-width: 480px){
    .footer-reviews-text-title{
        font-size: 23px;
        line-height: 27.6px;
        letter-spacing: 0.04em;
    }
}



.text-description-reviews{
font-weight: 400;
font-size: 17px;
line-height: 24.14px;
letter-spacing: -0.01em;
color: #A6A6A6;
}
@media(max-width: 768px){
    .text-description-reviews{
        font-size: 16px;
        line-height: 22.72px;
  
    }
}

@media(max-width: 480px){
    .footer-reviews-text-title{
        font-size: 16px;
        line-height: 22.72px;
    }
}


.review-img{
    width: 75px;
    height: 75px;
    border-radius: 100px;
}


/* TRAVEL */

.travel{
    margin-top: 135px;
    height: 1222px;
    padding: 0px;
   
}

@media(max-width: 768px){
    .travel{
        margin-top: 75px;
        height: 558px;
        
    }
}

@media(max-width: 480px){
    .travel{
    margin-top: 75px;
    height: 558px;
   
    }
    
}



.container-travel{
    margin: 0 auto;
    width: 1860px;
}
@media(max-width: 1600px){
    .container-travel{
        width: 984px;
    }
}

@media(max-width: 768px){
    .container-travel{
        width: 320px;
        padding: 0px;
    }
}

@media(max-width: 480px){
    .container-travel{
        width: 320px;
        padding: 0px;
    }
}










.travel-wrap-content{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 30px;
height: 159px;
}

@media(max-width: 768px){
    .travel-wrap-content{
        height: 142px;
        gap: 20px;
    }
}  

@media(max-width: 480px){
    .travel-wrap-content{
        height: 142px;
        gap: 20px;
    }
}


.travel-title{
    font-weight: 700;
    font-size: 59px;
    line-height: 73.16px;
    text-align: center;
}

@media(max-width: 768px){
    .travel-title{
        font-size: 34px;
        line-height: 38.08px;
        letter-spacing: 0.02em;
    }
}

@media(max-width: 480px){
    .travel-title{
        font-size: 34px;
        line-height: 38.08px;
        letter-spacing: 0.02em;
    }
}

.description{
    width: 418px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28.4px;
    text-align: center;
    color: #A6A6A6;
}

@media(max-width: 768px){
    .description{
        font-size: 16px;
        line-height: 22.72px;
        width: 318px;
    }

}

@media(max-width: 480px){
    .description{
       width: 318px;
        font-size: 16px;
        line-height: 22.72px;
        
        
    }

}


.wrap-travel{
display: flex;
flex-direction: column;
align-items: flex-start;
gap: 30px;
height: 963px;
}

/* @media(max-width: 1600px){
    .wrap-travel{
      
    }
} */

@media(max-width: 768px){
    .wrap-travel{
        gap: 18px;
        height: 366px;
    }
}
@media(max-width: 480px){
    .wrap-travel{
        height: 366px;
        gap: 18px;
    }
}

.photo-wrapper{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 30px;
height: 301px;
margin-top: 100px;
}

@media(max-width: 1600px){
    .photo-wrapper{
        gap: 20px;
        height: 301px;
}
}


@media(max-width: 768px){
    .photo-wrapper{
        gap: 18px;
        height: 110px;
        margin-top: 50px;
}
}


@media(max-width: 480px){
    .photo-wrapper{
        gap: 18px;
        height: 110px;
        margin-top: 50px;
}
}

.travel-photo{
border-radius: 50px;

height: 300px; 
}

@media(max-width: 1600px){
    .travel-photo{
        width: 314.67px;
    }

    .hidden{
      display: none;
    }
}


@media(max-width: 768px){
    .travel-photo{
        width: 150px;
        height: 110px;
        border-radius: 20px;
    }

    .hid{
        display: none;
    }

}

@media(max-width: 480px){
    .travel-photo{
        width: 150px;
        height: 110px;
        border-radius: 20px;
    }

    .hid{
        display: none;
    }
}




.travel-photo-two{
    height: 301px;
    border-radius: 50px;
    width: 349px;
    object-fit: cover;
}


@media(max-width: 1600px){
    .travel-photo-two{
       width: 231px;
       height: 301px;
      
}
}


@media(max-width: 768px){
    .travel-photo-two{
        width: 99.33px;
        height: 110px;
        border-radius: 20px;
     
}
}


@media(max-width: 480px){
    .travel-photo-two{
        width: 99.33px;
        height: 110px;
        border-radius: 20px;
}
}




.photo-wrapper-two{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    height: 301px;
}

@media(max-width: 1600px){
    .photo-wrapper-two{
        gap: 20px;
        height: 301px;
      
}
}


@media(max-width: 768px){
    .photo-wrapper-two{
        gap: 10px;
        height: 110px;
     
}
}


@media(max-width: 480px){
    .photo-wrapper-two{
        gap: 10px;
        height: 110px;
}
}

.photo-wrapper-fri{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    height: 301px;
}


@media(max-width: 1600px){
    .photo-wrapper-fri{
        gap: 20px;
       
}
}


@media(max-width: 768px){
    .photo-wrapper-fri{
        gap: 10px;
        height: 110px;
       
}
}


@media(max-width: 480px){
    .photo-wrapper-fri{
        gap: 10px;
        height: 110px;
        
}
}

/* STORIES */
.stories{
height: 2060px;
margin-top: 135px;
padding: 0px;
}

@media(max-width: 768px){
    .stories{
     height: 1597px;
     margin-top: 75px;
    }
}

@media(max-width: 480px){
    .stories{
     height: 1597px;
     margin-top: 75px;
    }
}

.container-stories{
    width: 1170px;
    margin: 0 auto;
}

@media(max-width: 1600px){
    .container-stories{
        width: 910px;
       
    }
}

@media(max-width: 768px){
    .container-stories{
        width: 320px;
     
    }
}

@media(max-width: 480px){
    .container-stories{
        width: 320px;
        
    }
}

.content-wrap-stories{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 30px;
height: 159px;
}

@media(max-width: 768px){
    .content-wrap-stories{
    gap: 20px;
    height: 142px;
    }
}

@media(max-width: 480px){
    .content-wrap-stories{
    gap: 20px;
    height: 142px;
    }
}


.stories-title{
    font-weight: 700;
    font-size: 59px;
    line-height: 73.16px;
    text-align: center;
}

@media(max-width: 768px){
    .stories-title{
        font-size: 34px;
        line-height: 38.08px;
        letter-spacing: 0.02em;
    }
}


@media(max-width: 480px){
    .stories-title{
        font-size: 34px;
        line-height: 38.08px;
        letter-spacing: 0.02em;
    }
}

.wrap-cards-stories{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 50px;
height: 1801px;
margin-top: 100px;
}

@media(max-width: 768px){
    .wrap-cards-stories{
        gap: 20px;
        height: 1405px;
        margin-top: 50px;
    }
}

@media(max-width: 480px){
    .wrap-cards-stories{
        gap: 20px;
        height: 1405px;
        margin-top: 50px;
    }
}

.cards-stories{
    width: 1170px;
    height: 567px;
    border-radius: 50px;
    position: relative;
}

@media(max-width: 1600px){
    .cards-stories{
        width: 918px;
        height: 567px;
    }
}

@media(max-width: 768px){
    .cards-stories{
        width: 318px;
        height: 455px;
        border-radius: 20px;
    }
}

@media(max-width: 480px){
    .cards-stories{
        width: 318px;
        height: 455px;
        border-radius: 20px;
    }
}

.stories-fon{
    width: inherit;
    height: inherit;
    border-radius: 50px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    object-fit: cover;
}

@media(max-width: 768px){
    .stories-fon{
        border-radius: 20px;
    }

    .stories-fon-two{
        border-radius: 20px;
    }
}

@media(max-width: 480px){
    .stories-fon{
        border-radius: 20px;
    }

   
}




.gradient{
   
background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
    width: 1170px;
    height: 567px;
    border-radius: 50px;
    position: absolute;
    z-index: 1;
}

@media(max-width: 1600px){
    .gradient{
        width: 918px;
    }
}

@media(max-width: 768px){
    .gradient{
        width: 318px;
        height: 455px;
        border-radius: 20px;
    }
}
@media(max-width: 480px){
    .gradient{
        width: 318px;
        height: 455px;
        border-radius: 20px;
    }
}

.stories-cards-content{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 60px 0px 0px 60px;
gap: 37px;
height: 394px;
position: absolute;
z-index: 2;
}

@media(max-width: 768px){
    .stories-cards-content{
        padding: 30px;
        gap: 20px;
        height: 306px;
        width: 263px;
    }
}
@media(max-width: 480px){
    .stories-cards-content{
        padding: 30px;
        gap: 20px;
        height: 306px;
        width: 263px;
    }
}

.cards-title-stories{
    font-weight: 500;
    font-size: 35px;
    line-height: 42.7px;
    color: #FFFFFF;
    height: 43px;
}

@media(max-width: 768px){
    .cards-title-stories{
        font-size: 23px;
        line-height: 27.6px;
        letter-spacing: 0.04em;
        width: 263px;
        height: 56px;
    }
}
@media(max-width: 480px){
    .cards-title-stories{
        font-size: 23px;
        line-height: 27.6px;
        letter-spacing: 0.04em;
        width: 263px;
        height: 56px;
    }
}

.cards-description-stories{
    font-weight: 400;
    font-size: 20px;
    line-height: 28.4px;
    color: #FFFFFF;
}

@media(max-width: 768px){
    .cards-description-stories{
        font-size: 16px;
        line-height: 22.72px;
        width: 263px;
      
    }
}

@media(max-width: 480px){
    .cards-description-stories{
        font-size: 16px;
        line-height: 22.72px;
        width: 263px;
   
    }
}





.cards-description-stories-ul{
    color: #fff;
    font-size: 20px;
    line-height: 28.4px;
    font-weight: 400;
    list-style: inside;
}

@media(max-width: 768px){
    .cards-description-stories-ul{
        font-size: 16px;
        line-height: 22.72px;
        width: 263px;
      
    }
}

@media(max-width: 480px){
    .cards-description-stories-ul{
        font-size: 16px;
        line-height: 22.72px;
        width: 263px;
   
    }
}




.wrapper-text-card-story{
    width: 554px;
    height: 224px;  
}

@media(max-width: 768px){
    .wrapper-text-card-story{
        width: 263px;
        height: 230px;
    }
}
@media(max-width: 480px){
    .wrapper-text-card-story{
        width: 263px;
        height: 230px;
    }
}

.footer-cards-stories{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px 60px;
    position: absolute;
    z-index: 2;  
    margin-top: 479px;  
    width: 1170px;
}

@media(max-width: 1600px){
    .footer-cards-stories{
    width: 918px;
    }
  }

@media(max-width: 768px){
    .footer-cards-stories{
    margin-top: 400px;
    padding: 0px 30px 30px;
    width: 200px;
    }
  }

@media(max-width: 480px){
    .footer-cards-stories{
    margin-top: 400px;
    padding: 0px 30px 30px;
    width: 200px;
    }
  }


  .cards-social{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 35px;
    width: 322px;
    height: 28px;
  }

  @media(max-width: 768px){
    .cards-social{
        display: none;
    }
  }

  @media(max-width: 480px){
    .cards-social{
        display: none;
    }
  }

  .social{
    font-weight: 400;
    font-size: 20px;
    line-height: 28.4px;
    color: #FFFFFF;
  }

  .social:hover{
    text-decoration-line: underline;
  }

  .social:active{
    text-decoration-line: underline;
    color: #EFA501;
  }


  .br{
    display: none;
  }

@media(max-width: 768px){
    .br{
        display: block;
    }
}

@media(max-width: 480px){
    .br{
        display: block;
    }
}

.stories-fon-two{
    width: inherit;
    height: inherit;
    border-radius: 50px;
    position: absolute;
    object-fit: cover;
}

@media(max-width: 768px){
    .stories-fon-two{
        border-radius: 20px;
    }
}

@media(max-width: 480px){
    .stories-fon-two{
        border-radius: 20px;
    }
}


.cards-social-two{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 35px;
width: 224px;
height: 28px;
}

@media(max-width: 768px){
    .cards-social-two{
        display: none;
    }
}


@media(max-width: 480px){
    .cards-social-two{
        display: none;
    }
}


/* LAST */


.content-last{
margin-top: 135px;
}


@media(max-width: 768px){
.content-last{
margin-top: 75px;

}
}

@media(max-width: 480px){
    .content-last{
    margin-top: 75px;
   
    }
}

.container-last{
margin: 0 auto;
width: 771px;
height: 370px;
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 30px;
height: 370px;
}

@media(max-width: 768px){
.container-last{
width: 360px;
display: flex;
flex-direction: column;
gap: 30px;
height: 285px;
    }
}

@media(max-width: 480px){
    .container-last{
    width: 360px;
display: flex;
flex-direction: column;
gap: 30px;
height: 285px;
    }
}

.footer-photo{
    width: 370px;
    height: 370px;
    border-radius: 50px;
}

@media(max-width: 768px){
    .footer-photo{
        width: 130px;
        height: 133px;
        border-radius: 20px;
    }
}

@media(max-width: 480px){
    .footer-photo{
        width: 130px;
        height: 133px;
        border-radius: 20px;
    }
}

.content-wrap-footer{
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 20px;
width: 371px;
height: 162px;
}

@media(max-width: 768px){
    .content-wrap-footer{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 20px;
width: 291px;
height: 122px;
    }
}

@media(max-width: 480px){
    .content-wrap-footer{
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 20px;
width: 291px;
height: 122px;
    }
}



.footer-title{
    font-weight: 500;
    font-size: 35px;
    line-height: 42.7px;
}

@media(max-width: 768px){
.footer-title{
font-weight: 700;
font-size: 23px;
line-height: 27.6px;
text-align: center;
letter-spacing: 0.04em;
    }
}

@media(max-width: 480px){
    .footer-title{
    font-weight: 700;
    font-size: 23px;
    line-height: 27.6px;
    text-align: center;
    letter-spacing: 0.04em;
        }
    }

.footer-description{
    font-weight: 400;
    font-size: 20px;
    line-height: 28.4px;
    color: #A6A6A6;
}

@media(max-width: 768px){
    .footer-description{
        font-size: 16px;
        line-height: 22.72px;
        text-align: center;
    }
}

@media(max-width: 480px){
    .footer-description{
        font-size: 16px;
        line-height: 22.72px;
        text-align: center;
    }
}

.footer-end{
    margin-top: 135px;
    background: #F4F0E9;
    height: 88px;
}

@media(max-width: 768px){
    .footer-end{
        height: 95px;
        margin-top: 75px;
        
    }
}

@media(max-width: 480px){
    .footer-end{
        height: 95px;
        margin-top: 75px;
    }
}

.container-footer{
    width: 1168px;
    margin: 0 auto;
    padding-top: 30px;
}
@media(max-width: 1600px){
    .container-footer{
        width: 918px;
    }
}

@media(max-width: 768px){
    .container-footer{
        width: 314px;
        padding-top: 21px;
    }
}

@media(max-width: 480px){
    .container-footer{
        width: 314px;
        padding-top: 21px;
    }
}




.footer{
    display: flex;
}

@media(max-width: 768px){
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }
}

@media(max-width: 480px){
    .footer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 7px;
    }
}

.social-footer-wrap{
   display: flex;
   gap: 25px;
   margin-left: auto;
   align-items: center;
}

@media(max-width: 768px){
    .social-footer-wrap{
        gap: 15px;
    }
}

@media(max-width: 480px){
    .social-footer-wrap{
        gap: 15px;
    }
}





.description-footer{
    font-size: 20px;
    font-weight: 400;
    line-height: 28.4px;
    color: #A6A6A6;
}

@media(max-width: 768px){
    .description-footer{
        font-size: 16px;
        line-height: 22.72px;
    }
}

@media(max-width: 480px){
    .description-footer{
        font-size: 16px;
        line-height: 22.72px;
    }
}

.social-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 28.4px;
}


.social-text:hover{
    border-bottom: 1px solid #000;
    
}

@media(max-width: 768px){
    .social-text{
        font-size: 16px;
        line-height: 22.72px;
    }
 
}

@media(max-width: 480px){
    .social-text{
        font-size: 16px;
        line-height: 22.72px;
    }
}
@media(max-width: 768px) and (max-width: 480px) and (pointer: fine){
    .social-text:hover{
        display: none;
    }
}

.wrap-social-text{
    display: flex;
    gap: 10px;
    align-items: center;
flex: none;
}


.logo-inst{
    width: 14px;
    height: 14px;
}

.logo-fac{
    width: 8px;
    height: 17px;
}

.logo-vk{
    width: 20px;
    height: 12px;
}

@media(max-width: 768px){
    .logo-fac{
        width: 10.77px;
        height: 10.77px;
    }

    .logo-fac{
        width: 6.15px;
        height: 13.08px;
    }
    
     .logo-vk{
        width: 15.38px;
        height: 9.23px;
     }
}


@media(max-width: 480px){
    .logo-fac{
        width: 10.77px;
        height: 10.77px;
    }

    .logo-fac{
        width: 6.15px;
        height: 13.08px;
    }
    
     .logo-vk{
        width: 15.38px;
        height: 9.23px;
     }
}
