@media(max-width: 1200px){
    .reviews{
        height: 1173px;
    }
}


@media(max-width: 1023px){
    .reviews{
        height: 1173px;
    }
}



@media(max-width: 767px){
    .reviews{
        height: 1210px;
        margin-top: 75px;
    }
}

@media(max-width: 1200px){
    .container-reviews{
        width: 910px;
       
    }
}

@media(max-width: 1023px){
    .container-reviews{
        width: 100vw;
       
    }
}

@media(max-width: 767px){
    .container-reviews{
        width: 320px;
        padding: 0px;
    }
}


@media(max-width: 767px){
    .wrapper-content-reviews{
        height: 142px;
        gap: 20px;
    }
}

@media(max-width: 767px){
    .reviews-title{
        font-size: 34px;
        line-height: 38.08px;
        letter-spacing: 0.02em;
    }
}


@media(max-width: 767px){
    .description-reviews{
      font-size: 16px;
      line-height: 22.72px;
      width: 318px;
    }
}


@media(max-width: 1023px){
    .cards-reviews-wrap{
        gap: 18px;
        height: 814px;
    }
}



@media(max-width: 767px){
    .cards-reviews-wrap{
        flex-direction: column;
        height: 1018px;
        padding: 0px;
        gap: 18px;
        margin-top: 50px;
    }
}
@media(max-width: 1200px){
    .cards-reviews{
        width: 450px;
        height: 841px;
    }
}

 
@media(max-width: 1023px){
    .cards-reviews{
        width: 100%;
        height: 841px;
    }
}



@media(max-width: 767px){
    .cards-reviews{
        padding: 20px;
        width: 318px;
        height: 408px;
        border-radius: 20px;
    }
    .pavel{
        height: 592px;
    }
}




@media(max-width: 767px){
    .text-reviews{
       font-size: 16px;
       font-weight: 700;
       line-height: 22.72px;
    }
}

@media(max-width: 1200px){
    .cards-footer-reviews{
        width: 370px;
        height: 145px;
    }
}

@media(max-width: 1023px){
    .cards-footer-reviews{
        width: 100%;
        height: 145px;
        
    }
}
@media(max-width: 850px){
    .cards-footer-reviews{
        padding: 0px;
        
    }
}


@media(max-width: 767px){
    .cards-footer-reviews{
        width: 278px;
        height: 115px;
        padding: 40px 0px 0px;
    }
}

@media(max-width: 1023px){
    .cards-footer-reviews-text{
        width: 100%;
        height: 75px;
    }
}




@media(max-width: 767px){
    .cards-footer-reviews-text{
        width: 203px;
        height: 59px;
    }
}



@media(max-width: 767px){
    .footer-reviews-text-title{
        font-size: 23px;
        line-height: 27.6px;
        letter-spacing: 0.04em;
    }
}


@media(max-width: 767px){
    .footer-reviews-text-title{
        font-size: 16px;
        line-height: 22.72px;
    }
}

