.reviews{
    margin-top: 135px;
    height: 1005px;
    padding: 0px;
  }
  
  
  .container-reviews{
      margin: 0 auto;
      width:1170px;
  }
  
  
  
  .wrapper-content-reviews{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 30px;
  height: 232px;
  }
  
  
  
  .reviews-title{
     font-weight: 700;
      font-size: 59px;
      line-height: 73.16px;
      text-align: center;
  }
  
  
  .description-reviews{
   font-size: 20px;
   line-height: 28.4px;
   text-align: center;
   color: #A6A6A6; 
   width: 418px;   
  }
  
  
  
  
  
  
  
  .cards-reviews-wrap{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  height: 673px;
  margin-top: 100px;
  }
  
  
  
  .cards-reviews{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 40px;
  width: 570px;
  height: 673px;
  background: #F4F0E9;
  border-radius: 50px;
  }
  
  
  
  .text-reviews{
      font-weight: 700;
      font-size: 23px;
      line-height: 28.06px;
  }
  
  
  
  
  
  .cards-footer-reviews{
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 70px 0px 0px;
  height: 145px;
  width: 490px;
  }
  
  
  
  
  .cards-footer-reviews-text{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  width: 415px;
  height: 75px;
  }
  
  
  
  
  
  .footer-reviews-text-title{
      font-weight: 500;
      font-size: 35px;
      line-height: 42.7px;
  }
  
  
  
  
  .text-description-reviews{
  font-weight: 400;
  font-size: 17px;
  line-height: 24.14px;
  letter-spacing: -0.01em;
  color: #A6A6A6;
  }
  
  .review-img{
      width: 75px;
      height: 75px;
      border-radius: 100px;
  }
  