.wrap-tour{
    margin-top: 135px;
    height: 1245px;
    padding: 0;
   }
 .container-tour{
    margin: 0 auto;
    width:1170px;  
 }
 
 

.tour-wrap-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    height: 159px;
    }
    
    
    
    
    .tour-title{
    font-weight: 700;
    font-size: 59px;
    line-height: 73.16px;
    text-align: center;
    }
    
    
    
    
    .tour-description{
     font-size: 20px;
     font-weight: 400;
     line-height: 28.4px;
     text-align: center;
     color: #A6A6A6;
    }
    
    
    
    .hiden{
        display: none;
    }
    
    
    .forma-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 70px;
    gap: 33px;
    height: 986px;
    background: #FFFFFF;
    border-radius: 50px;
    margin: 100px auto 0;
    width: 1170px;
    }
    
    
    
    .forma-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 500px;
    height: 104px;
    }
    
    
    .str{
        position: absolute;
        margin-top: 65px;
        margin-left: 458px;
       }
    
    
        
        
    
    .forma{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 10px;
    width: 500px;
    height: 68px;
    background: #F9F7F4;
    border: 1px solid #F4F0E9;
    border-radius: 10px;
    
    }
    
    select{
        padding: 20px;
        gap: 10px;
        width: 500px;
        height: 68px;
        background: #F9F7F4;
        border: 1px solid #F4F0E9;
        border-radius: 10px;
        
        font-weight: 400;
        font-size: 20px;
        line-height: 28.4px;
        color: #A6A6A6;
        }
        
        select:hover{
            background: #F4F0E9;
            border: 1px solid #F4F0E9;
            }
        
    [data-selected] {
        color: #000;
    }
    
    
    .forma:hover{
    background: #F4F0E9;
    border: 1px solid #F4F0E9;
    }
    .forma:focus{
        background: #F4F0E9;
        border: 1px solid #A6A6A6
    }
        
    
    
    
    
    .forma-text{
    font-weight: 400;
    font-size: 20px;
    line-height: 28.4px;
    }
    
    .content-forma{
    font-weight: 400;
    font-size: 20px;
    line-height: 28.4px;
    font-family: Roboto;
    }

    
    .forma::-webkit-input-placeholder{
        color: #A6A6A6;
    }
    
    
        
    .forma-wrapper-container{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    height: 104px;
    width: 1030px;
    }
    
    
    
    
    .comment-wrap{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;  
    width: 1030px;
    height: 188px;
    }
    
          
    
    .comment{
    padding: 20px;
    gap: 10px;
    width: 1030px;
    height: 152px;
    background: #F9F7F4;
    border: 1px solid #F4F0E9;
    border-radius: 10px;
    }
    
    .comment:hover{
    background: #F4F0E9;
    }
    
    .comment:focus{
        background: #F4F0E9;
        border: 1px solid #A6A6A6
    }
    
    
    .radio_wrapper{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 1030px;
    height: 64px;
    
    } 
    
    
    
    .forma-radio{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 8px;
    width: 1030px;
    height: 64px;
    }
    
    
    
    .radio-wrap{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 31px;
    width: 166px;
    height: 28px;    
    }
    
    
    
    
    .radio{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 11px;
    width: 75px;
    height: 28px;
    
    }
    
    
    .radio-text{
        font-weight: 400;
        font-size: 20px;
        line-height: 28.4px;
        padding-left: 30px;
    }
    
    
    .radio_input{
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none;  
    }
    
    .btn__check{
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url(/styles/files/off-btn.svg);
    background-repeat: no-repeat;
    }
    
    
    .radio_input:hover + .btn__check{
        background-image: url(/styles/files/on-btn.svg);
    }
    
    
    .radio_input:checked + .btn__check{
      background-image: url(/styles/files/on-btn.svg);
    }
    
    
    
    
    
    
    
    
    
    .check-wrap{
    display: flex;
    align-items: center;
    padding: 0px;
    gap: 19px;
    height: 26px;
    }
    
    .form-check{
        display: flex;
        align-items: center;
        gap: 19px;
    }
    
    
    .check-text{
        font-weight: 400;
        font-size: 17px;
        line-height: 24.14px;
        letter-spacing: -0.01em;
        color: #A6A6A6;
        padding-left: 19px;
    }
    
    .text-lic{
        font-weight: 400;
        font-size: 17px;
        line-height: 24.14px;
        letter-spacing: -0.01em;
        color: #000;  
        text-decoration: none;
    }
    
    .text-lic:hover{
        text-decoration-line: underline;
        }
        
        .text-lic:active{
        text-decoration-line: underline;
        color: #286562;
        }
    
    
    
    
    .check__input{
        -webkit-appearance:none;
        -moz-appearance:none;
        -o-appearance:none;
        appearance:none;   
    }
    
    .check-box{
    position: absolute;
    width: 26px;
    height: 26px;
    background-image: url(/styles/files/off.svg);
    background-repeat: no-repeat;
    
    }
    .check__input:hover + .check-box{
        background-image: url(/styles/files/on.svg);
    }
    .check__input:checked + .check-box{
    background-image: url(/styles/files/on.svg);
    }
    
    
    
    
    
    .wrapper-btn-big{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 500px;
    height: 58px;
    }
    
    
    .bg-text{
        color: #fff; 
     }
     .big-text{
        color: #286562;
     }
    
    
    .big-btn{
    width: 235px;
    height: 58px;
    background: #286562;
    border-radius: 10px;
    }
    .big-btn:hover{
        background: #3B7E7B;
    }
    .big-btn:active{
        background: #627F7E;
    }
    
    .big-button{
    width: 235px;
    height: 58px;
    background: #E0F0E5;
    border-radius: 10px;
    }
    
    .big-button:hover{
        background: #F1F3F2;
    }
    .big-button:active{
        background: #D9DFDB;
    }
    