

@media(max-width: 767px){
    .stories{
     height: 1597px;
     margin-top: 75px;
    }
}
@media(max-width: 1200px){
    .container-stories{
        width: 918px;
       
    }
}

@media(max-width: 1023px){
    .container-stories{
        width: 100vw; 
    }
}



@media(max-width: 767px){
    .container-stories{
        width: 320px;
        
    }
}


@media(max-width: 767px){
    .content-wrap-stories{
    gap: 20px;
    height: 142px;
    }
}



@media(max-width: 767px){
    .stories-title{
        font-size: 34px;
        line-height: 38.08px;
        letter-spacing: 0.02em;
    }
}


@media(max-width: 767px){
    .wrap-cards-stories{
        gap: 20px;
        height: 1405px;
        margin-top: 50px;
    }
}


@media(max-width: 1023px){
    .cards-stories{
        width: 100%;
        height: 567px;
    }
}



@media(max-width: 767px){
    .cards-stories{
        width: 318px;
        height: 455px;
        border-radius: 20px;
    }
}


@media(max-width: 1023px){
    .cards-stories:hover .stories-fon{
        transform: scale(1);
        }

        .cards-stories:hover .cards-btn{
            background: none;
            padding: 0px;
            height: 28px;
            left: 0px;
            position: static;
        }
        .cards-stories:active .cards-btn:active{
            background: none;
            
        }
}


@media(max-width: 1200px){
    .gradient{
        width: 918px;
    }
}


@media(max-width: 1023px){
    .gradient{
        width: 100%;
    }
}
@media(max-width: 767px){
    .stories-fon{
        border-radius: 20px;
    }
}


@media(max-width: 767px){
    .gradient{
        width: 318px;
        height: 455px;
        border-radius: 20px;
    }
}



@media(max-width: 767px){
    .stories-cards-content{
        padding: 30px;
        gap: 20px;
        height: 306px;
        width: 263px;
    }
}



@media(max-width: 767px){
    .cards-title-stories{
        font-size: 23px;
        line-height: 27.6px;
        letter-spacing: 0.04em;
        width: 263px;
        height: 56px;
    }
}



@media(max-width: 767px){
    .cards-description-stories{
        font-size: 16px;
        line-height: 22.72px;
        width: 263px;
   
    }
}



@media(max-width: 767px){
    .cards-description-stories-ul{
        font-size: 16px;
        line-height: 22.72px;
        width: 263px;
   
    }
}

@media(max-width: 1200px){
    .footer-cards-stories{
    width: 918px;
    }
  }



@media(max-width: 1023px){
    .footer-cards-stories{
    width: 100%;
    }
  }



@media(max-width: 767px){
    .footer-cards-stories{
    margin-top: 400px;
    padding: 0px 30px 30px;
    width: 200px;
    }
  }

  
  @media(max-width: 1023px){
    .social:hover{
        text-decoration-line: none;
        }
            
        .social:active{
        text-decoration-line: none;
        color: #fff;
        }
  }


  @media(max-width: 767px){
    .cards-social{
        display: none;
    }
  }



@media(max-width: 767px){
    .br{
        display: block;
    }
}



@media(max-width: 767px){
    .cards-social-two{
        display: none;
    }
}





@media(max-width: 767px){
    .wrapper-text-card-story{
        width: 263px;
        height: 230px;
    }
}
