.stories{
    height: 2060px;
    margin-top: 135px;
    padding: 0px;
    }
    
    
    .container-stories{
        width: 1170px;
        margin: 0 auto;
    }
    
    
    .content-wrap-stories{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;
    height: 159px;
    }
    
    
    
    .stories-title{
        font-weight: 700;
        font-size: 59px;
        line-height: 73.16px;
        text-align: center;
    }
    
    
    
    .wrap-cards-stories{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 50px;
    height: 1801px;
    margin-top: 100px;
    }
    
    
    
    .cards-stories{
        width: 100%;
        height: 567px;
        border-radius: 50px;
        position: relative;
        overflow: hidden;
        
    }
    
    
    
    .stories-fon{
        width: inherit;
        height: inherit;
        border-radius: 50px;
        position: absolute;
        object-fit: cover;
        transform: scale(1);
        transition: 300ms ease;
    
    }
    
    .cards-stories:hover .stories-fon{
    transform: scale(1.2);
    
    
    }
    
    
    
    
    
    
    
    
    
    .gradient{
    background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0.01%, rgba(0, 0, 0, 0.2) 100%);
        width: 1170px;
        height: 567px;
        border-radius: 50px;
        position: absolute;
        z-index: 1;
    }
    
    
    
    .stories-cards-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 60px 0px 0px 60px;
    gap: 37px;
    height: 394px;
    position: absolute;
    z-index: 2;
    }
    
    .cards-title-stories{
        font-weight: 500;
        font-size: 35px;
        line-height: 42.7px;
        color: #FFFFFF;
        height: 43px;
    }
    
    
    
    .cards-description-stories{
        font-weight: 400;
        font-size: 20px;
        line-height: 28.4px;
        color: #FFFFFF;
    }
    
    
    
    
    
    
    
    .cards-description-stories-ul{
        color: #fff;
        font-size: 20px;
        line-height: 28.4px;
        font-weight: 400;
        list-style: inside;
    }
    
    
    
    
    
    
    .wrapper-text-card-story{
        width: 554px;
        height: 224px;  
    }
    
    
    .footer-cards-stories{
        display: flex;
        align-items: center;
        padding: 0px 60px 60px;
        position: absolute;
        z-index: 2;   
        width: 1170px;
        height: 88px;
        bottom: 0;
    }
    
    
    
.cards-social{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 35px;
width: 322px;
height: 28px;
margin-left: auto;
}
    
    
.social{
font-weight: 400;
font-size: 20px;
line-height: 28.4px;
color: #FFFFFF;
}
    
.social:hover{
text-decoration-line: underline;
}
    
.social:active{
text-decoration-line: underline;
color: #EFA501;
}
    
    
    
    
    
.br{
display: none;
}
         
.cards-social-two{
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 35px;
width: 224px;
height: 28px;
margin-left: auto;
}
    
.cards-stories:hover .cards-btn{
position: absolute;
padding: 7px 20px;
width: 199px;
height: 42px;
left: 40px;
background: #286562;
border-radius: 50px;
}
    
.cards-stories:active .cards-btn:active{
background: #EFA501;
border-radius: 50px;
}