
@media(max-width: 767px){
    .travel{
    margin-top: 75px;
    height: 558px;
   
    } 
}

@media(max-width: 1200px){
    .container-travel{
        width: 100vw;
    }
}

@media(max-width: 1023px){
    .container-travel{
        width: 100vw;
    }
}


@media(max-width: 767px){
    .container-travel{
        width: 100vw;
        padding: 0px;
    }
}
@media(max-width: 767px){
    .travel-wrap-content{
        height: 142px;
        gap: 20px;
    }
}





@media(max-width: 767px){
    .travel-title{
        font-size: 34px;
        line-height: 38.08px;
        letter-spacing: 0.02em;
    }
}




@media(max-width: 767px){
    .description{
       width: 318px;
        font-size: 16px;
        line-height: 22.72px;
        
        
    }

}

@media(max-width: 767px){
    .wrap-travel{
        height: 366px;
        gap: 18px;
        margin-top: 50px;
    }
}

@media(max-width: 1200px){
    .photo-wrapper{
        gap: 20px;
        height: 301px;
        width: 100vw;
        padding: 0 1.95%;
}
}


@media(max-width: 1023px){
    .photo-wrapper{
        gap: 20px;
        height: 301px;
        width: 100vw;
        padding: 0 1.95%;
}
}




@media(max-width: 767px){
    .photo-wrapper{
    gap: 18px;
    height: 110px;
    width: 100vw;
    padding: 0 5.83%;
}
}

@media(max-width: 1200px){
    .travel-photo{
        width: 30.73%;
    }

    .hidden{
      display: none;
    }
}

@media(max-width: 1023px){
    .travel-photo{
        width: 30.73%;
    }

    .hidden{
      display: none;
    }
}

@media(max-width: 767px){
    .travel-photo{
        width: 41.66%;
        height: 110px;
        border-radius: 20px;
    }

    .hid{
        display: none;
    }
}

@media(max-width: 1200px){
.travel-photo-two{
width: 22.56%;
height: 301px;
flex-grow: 1;     
}
}

@media(max-width: 1023px){
    .travel-photo-two{
       width: 22.56%;
       height: 301px;
       flex-grow: 1;
      
}
}

@media(max-width: 767px){
    .travel-photo-two{
        width: 27.6%;
        height: 110px;
        border-radius: 20px;
}
}


@media(max-width: 1023px){
    .travel-photo-img{
       width: 22.56%;
       height: 301px;
      
}
}




@media(max-width: 767px){
    .travel-photo-img{
        width: 27.6%;
        height: 110px;
        border-radius: 20px;
      
}
}

@media(max-width: 1023px){
    .photo-wrapper-two{
        gap: 20px;
        height: 301px;
        justify-content: center;
        padding: 0 1.95%;
}
}





@media(max-width: 767px){
    .photo-wrapper-two{
        gap: 10px;
        height: 110px;
        padding: 0 5.83%
}
}

@media(max-width: 1023px){
    .photo-wrapper-fri{
        gap: 20px;
        justify-content: center;
        padding: 0 1.95%;
       
}
}




@media(max-width: 767px){
    .photo-wrapper-fri{
        gap: 10px;
        height: 110px;
        padding: 0 5.83%;
}
}



@media(max-width: 1023px){
    .travel-photo-two{
       width: 22.56%;
       height: 301px;
       flex-grow: 1;
      
}
}




@media(max-width: 767px){
    .travel-photo-two{
        width: 27.6%;
        height: 110px;
        border-radius: 20px;
}
}




@media(max-width: 1023px){
    .travel-photo-img{
       width: 22.56%;
       height: 301px;
      
}
}




@media(max-width: 767px){
    .travel-photo-img{
        width: 27.6%;
        height: 110px;
        border-radius: 20px;
      
}
}
