body{
   background-color: #F9F7F4;
   font-family: Roboto,  sans-serif;
  
}

button {
    border: none;
    background: none;
}


select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
    appearance:none; 
 }


option{
    color: #000;
}

textarea{
    resize: none;
}



*{
  box-sizing: border-box;
  cursor: pointer;
  margin: 0px;
  padding: 0px;
}



.container{
width: 1168px;
margin: 0 auto;
}

@media (max-width: 1200px){
    .container{
    width: 910px;
  }
}

@media (max-width: 1023px){
    .container{
    width: 100vw;
    padding: 0 2%;
  }
}







.welcome{
background: linear-gradient(180deg, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 39.9%), linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(./images/header-img.png);
background-position: center;
background-size: cover;
height: 831px;
position: relative;
padding-top: 29px;
width: 100vw;
}

.logo{
    width: 181.84px;
    height: 30.24px;
}

@media(max-width: 767px){
.container{
    width: 100vw;
    padding: 0;
  }
.logo{
    width: 133px;
    height: 22px;
  }
.welcome{
    height: 488px;
    padding-top: 32.5px;
  }  
}

.header{
display: flex;
justify-content: space-between;
align-items: center;
width: 100%;
}

@media(max-width: 767px){
    .header{
     padding: 0 6%;
    }
}




.phone{
color: #fff;
font-weight: 400;
font-size: 20px;
line-height: 28.4px;
flex: none;
height: 28px;
width: 155px;
}

.phone:hover{
    border-bottom: 1px solid #fff;
}
 @media(max-width: 1023px){
    .phone:hover{
        border-bottom: none;
    }
 }



@media (max-width: 767px){
    .phone{
    font-size: 16px;
    line-height: 22.72px;
    color: #fff;
    text-decoration: none;
    height: 23px;
    width: 124px;
    flex-wrap: nowrap;
    }
}

.nav-list{
display: flex;
gap: 50px;
height: 28px;
}

@media(max-width: 1200px){
    .nav-list{
    gap: 30px;
}
}

@media(max-width: 1023px){
    .nav-list{
    gap: 30px;
}
}

@media(max-width: 767px){
    .nav-list{
    display: none;
}
}



.nav-item{
font-size: 20px;
font-weight: 400;
line-height: 28.4px;
flex: none;
color: #fff;
}

.nav-item:hover{
    border-bottom: 1px solid #ffffff;
}
@media(max-width: 1023px){
    .nav-item:hover{
        border-bottom: none;
}
}


.welcome-content-wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 50px;
    margin-top: 145px;
}


@media (max-width: 767px){
    .welcome-content-wrap{
    gap: 40px;
    margin-top: 85px;
    }
}




.welcome-title{
    font-weight: 700;
    font-size: 96px;
    line-height: 104.64px;
    text-align: center;
    color: #fff;
   width: 900px;
    height: 315px;
}

.welcome-description{
    height: 56px;
    width: 562px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28.4px;
    text-align: center;
    color: #fff;
}

.welcome-btn{
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 5px 20px;
gap: 10px;
width: 118px;
height: 34px;
background: #FFFFFF;
border-radius: 10px;
}

.welcome-btn:hover{
    background: #EFA501;
    border-radius: 10px;
    color: #fff;
}
    
.welcome-btn:active{
    background: #F8E6BE;
    border-radius: 10px;
    color: #000;
}

@media(max-width: 1023px){
    .welcome-btn:hover{
        background: #fff;
    }
}

@media(max-width: 1023px){
    .welcome-btn:hover{
        background: #fff;
        color: inherit;
    }
}
   
   


.welcomeBtn-text{
font-size: 17px;
line-height: 24.14px;
letter-spacing: -0.01em;
font-weight: 400;
flex: none;
font-family: Roboto;
}


@media (max-width: 1200px){
    .welcome-title{
    width: 750px;
    }
    .welcome-description{
        width: 442px;
    }
}
@media (max-width: 1023px){
    .welcome-title{
    width: 100%;
    }
    .welcome-description{
        width: 442px;
    }
}

@media (max-width: 767px){
    .welcome-title{
    font-size: 34px;
    letter-spacing: 0.02em;
    line-height: 38.08px;
    width: 360px;
    height: 114px;
    }
    .welcome-description{
        font-size: 16px;
        line-height: 22.72px;
        width: 310px;
        height: 69px;
    }
}


@media (max-width: 767px){
.welcome-btn{
    width: 114px;
    height: 33px;
}
.welcomeBtn-text{
    font-size: 16px;
    line-height: 22.72px;
    }
}
